@{
    ViewData["Title"] = "Вход в аккаунт";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container h-100">
        <div class="row h-100 justify-content-center mx-auto my-4">
            <form class="form-signin col-6 text-center align-items-center">
                <svg  width="5em"  color="black" height="5em" viewBox="0 0 16 16" class="bi bi-door-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                </svg>
                <h1 class="h3 mb-3 font-weight-normal">Вход в аккаунт</h1>
                <label for="inputLogin" class="sr-only">Логин</label>
                <input type="text" id="inputLogin" class="form-control" placeholder="Log in" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Пароль</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Сохранить логин и пароль
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            </form>
        </div>
    </div>