@model IEnumerable<Shop.Model.Product>
@{
    ViewData["Title"] = "Страница товара";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row mx-auto my-4">

        <div class="col-lg-8">
            <div class="card mb-10">

                <div class="card-body store-body">
                    <div class="product-info">
                        <div class="product-gallery">
                            <div class="product-gallery-thumbnails">
                                <ol class="thumbnails-list list-unstyled">
                                    <li>
                                        <img src="https://via.placeholder.com/350x350/ffcf5b" alt="">
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <!-- /.recommended-items-->
                        <div class="product-description mb-5">
                            <h2 class="mb-5">Features</h2>
                            <dl class="row mb-5">
                                <dt class="col-sm-3">Brand</dt>
                                <dd class="col-sm-9">Nickony</dd>
                                <dt class="col-sm-3">Color</dt>
                                <dd class="col-sm-9">Red</dd>
                                <dt class="col-sm-3">Size</dt>
                                <dd class="col-sm-9">XXL</dd>
                                <dt class="col-sm-3">Fabric</dt>
                                <dd class="col-sm-9">Cottom</dd>
                            </dl>
                            <h2 class="mb-5">Description</h2>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit nemo reiciendis quisquam a quis delectus consectetur ipsa eligendi aliquam earum in vitae voluptate ratione fugiat similique nostrum debitis dolor, ipsam quo officiis quas
                                necessitatibus? Magnam eveniet iure, eligendi est ullam consectetur repellat quis doloremque ad perspiciatis assumenda ducimus distinctio quaerat sit repudiandae illo praesentium modi dolor. Veritatis aperiam, minima natus assumenda
                                ipsum voluptatem reprehenderit? Possimus nobis, voluptate, blanditiis, temporibus ad nostrum corrupti quos corporis voluptas tempora aliquid magnam quia voluptatem rerum odit fugiat facere necessitatibus adipisci sunt. Veritatis architecto,
                                perferendis labore sit nobis eaque perspiciatis et iusto, in doloribus est!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vel reiciendis voluptatibus assumenda tempora vitae aut adipisci harum, corporis in id perferendis quia repellat reprehenderit temporibus aspernatur ab ullam magni error
                                consectetur, facilis inventore ipsum, veniam voluptas. Error laboriosam atque quisquam facere esse repellat consectetur quos eum, quaerat blanditiis saepe?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="product-title mb-2">T-shirt Nickony - XXL Black and White - 100% cotton - Limited Stock</h4>
            <h2 class="product-price display-4">$ 25.00</h2>
            <p class="text-success"><i class="fa fa-credit-card"></i> 12x or  5x $ 5.00</p>
            <p class="mb-0"><i class="fa fa-truck"></i> Delivery in all territory</p>
            <div class="text-muted mb-2"><small>know more about delivery time and shipping forms</small></div>
            <label for="quant">Quantity</label>
            <input type="number" name="quantity" min="1" id="quant" class="form-control mb-5 input-lg" placeholder="Choose the quantity">
            <button class="btn btn-primary btn-lg btn-block">Buy Now</button>
        </div>
    </div>
</div>
